/*font-family: 'Marck Script', cursive;
font-family: 'Playball', cursive;
font-family: 'Source Sans Pro', sans-serif;*/


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
/* MOBILE VERSION */
body{
	background-image: url('../img/deer1.jpg');
	position: absolute;
	background-size: cover;
	
}
nav{
	font-family: Source Sans Pro;
	color: white;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
}


.container-utama{
	margin-top: 100px;
}
.container-utama h1{
	text-align: center;
	font-family: Playball;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	line-height: 65px;
	color: #CCCBCB;
}

nav .navbarbawah{
	writing-mode: vertical-rl;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #B5B0B0;
	margin-left: 400px;
}
a:hover{
	color: white !important;
	text-decoration: none;
}
.container-dua p{
	color: #B5B0B0;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
}


/* parralax */
.h1Main{
	opacity: 0;
	transform: translate(-120px, 0);
	transition: 1.2s;

}
.h1MainShow{
	opacity: 1;
	transform: translate(0,0);

}
.navbaratas{
	opacity: 0;
	transform: translate(0, -30px);
	transition: 1s;
}
.navbaratasShow{
	opacity: 1;
	transform: translate(0,0);
}
.navbarbawah, .pbawah{
	opacity: 0;
	transform: translate(0, 50px);
	transition: 1.2s;
}
.navbarbawahShow, .pbawahShow{
	opacity: 1;
	transform: translate(0,0);
}


/* TABLET VERSION */
@media (min-width: 768px) {

}




/* DESKTOP VERSION */
@media (min-width: 992px) {
	body{
		background-image: url('../img/deer.jpg');
		width: 100%;
		background-position: 0 /* bagian horizontal  */ -40px; /* bagian vertikal */
	}

	.navbar-brand{
		margin-left: 24px;
		font-size: 20px;
	}
	.navbaratas{
		font-style: normal;
		font-weight: bold;
		font-variant: small-caps;
		margin-right: 23px;
		font-weight: 700;
		margin-top: 10px;
		font-size: 16px;
	}

	.navbaratas:hover::after{
		content: '';
		display: block;
		border-bottom: 2px solid #CCCBCB;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	.container-utama{
		margin-top: 200px;
		margin-left: 50px;
	}

	.container-utama h1{
		position: absolute;
		width: 470px;
		font-size: 47px;
	}

	nav .navbarbawah{
		margin-top: 230px;
		margin-left: 24px;
		font-size: 15px;
		writing-mode: horizontal-tb
	}

	nav p{
		margin-top: 250px;
		margin-left: 860px;
		color: #B5B0B0;
		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
	}

	.navbaratas:hover, .navbarbawah:hover{
		color: #CCCBCB !important;
	}
}
