
/* MOBILE VERSION */
body{
	background-image: url('../img/deer1.jpg');
	position: absolute;
	background-size: cover;
	
}
nav{
	font-family: Source Sans Pro;
	color: white;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
}
a:hover{
	color: white !important;
	text-decoration: none;
}

.container-fluid{
	margin-top: 30px;
	padding-bottom: 30px;
}

/* parralax */
.navbaratas{
	opacity: 0;
	transform: translate(0, -30px);
	transition: 1s;
}
.navbaratasShow{
	opacity: 1;
	transform: translate(0,0);
}
.photo .img-fluid {
	opacity: 0;
	transform: translate(0, -140px);
	transition: 2s;
}

.photo .img-fluid.Show{
	opacity: 1;
	transform: translate(0,0);
}

/* TABLET VERSION */
@media (min-width: 768px) {

}




/* DESKTOP VERSION */
@media (min-width: 992px) {
	body{
		background-image: url('../img/deer.jpg');
		position: absolute;
		width: 100%;
		background-size: cover;
		background-position: 0 /* bagian horizontal  */ -40px; /* bagian vertikal */
	}

	nav{
		font-family: Source Sans Pro;
		color: #B5B0B0;
		font-style: normal;
		font-weight: bold;
		font-variant: small-caps;
	}

	.navbar-brand{
		margin-left: 24px;
		font-size: 20px;
	}
	.navbaratas{
		font-style: normal;
		font-weight: bold;
		font-variant: small-caps;
		margin-right: 23px;
		font-weight: 700;
		margin-top: 10px;
		font-size: 16px;
	}

	.navbaratas:hover::after{
		content: '';
		display: block;
		border-bottom: 2px solid white;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}
	.container-fluid{
		margin-top: 40px;
	}

	.container-fluid h1{
		position: absolute;
		width: 470px;
		/*height: 84px;*/

		font-family: Playball;
		font-style: normal;
		font-weight: normal;
		font-size: 47px;
		line-height: 65px;
		/* or 138% */
		color: #CCCBCB;
		mix-blend-mode: normal;
	}
	.tengah{
		margin-left: -30px;
	}
	.kanan{
		margin-left: -30px;
	}
	.navbarbawah{
		margin-top: 75px;
		margin-left: 24px;
		margin-bottom: 50px;

		font-family: Source Sans Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		font-variant: small-caps;
		color: #B5B0B0;
	}

	/* parralax */
	.tengah .img-fluid {
		opacity: 0;
		transform: translate(0, -140px);
		transition: 2.5s;
	}

	.tengah .img-fluid.Show{
		opacity: 1;
		transform: translate(0,0);
	}

	.kiri .img-fluid, .kanan .img-fluid {
		opacity: 0;
		transform: translate(-60px, 0);
		transition: 2.5s;
	}
	.kanan .img-fluid {
		opacity: 0;
		transform: translate(60px, 0);
		transition: 2.5s;
	}
	.kiri .img-fluid.Show, .kanan .img-fluid.Show{
		opacity: 1;
		transform: translate(0,0);
	}
}